@page "/employee-overview"

<h2>Employee Overview</h2>

@if (Employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="d-flex w-100">
        @foreach (var employee in Employees)
        {
            <EmployeeCard Employee="employee" OnClickQuickView="ShowQuickViewModal" />
        }
    </div>

    <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>
}